:root {
  --ab-light-green: #00ff00;
  --ab-green: #00aa00;
  --ab-dark-green: #007700;
  --ab-light-blue: #00ffff;
  --ab-blue: #00aaff;
  --ab-dark-blue: #0077ff;
  --ab-white: #fff;
  --ab-yellow: #fafa00;
  --ab-red: #ff0000;
  --ab-light-gray: #fefefe;
  --ab-gray: #777777;
  --ab-dark-gray: #222222;
}

/* dark theme */
[data-theme="dark"] {
  --pico-color: var(--ab-light-gray);
  --pico-background-color: var(--ab-dark-gray);
  --pico-primary: var(--ab-blue);
  --pico-primary-hover: var(--ab-blue);
  --pico-primary-background: var(--ab-light-blue);
  --pico-primary-hover-background: var(--ab-blue);
  --pico-primary-inverse: var(--pico-background-color);
  --pico-card-background-color: var(--pico-background-color);
  --pico-underline: var(--ab-light-blue);
  --pico-primary-underline: var(--ab-light-blue);
  --pico-secondary: var(--ab-light-green);
  --pico-secondary-hover: var(--ab-green);
  --pico-secondary-background: var(--ab-light-green);
  --pico-secondary-hover-background: var(--ab-green);
  --pico-box-shadow: 0 0 2px 0 var(--pico-primary);
  --ab-theme-gray: var(--ab-dark-gray);

  --ab-gradient-primary:
    linear-gradient(0deg,
      var(--ab-blue) 0%,
      var(--ab-light-blue) 50%,
      var(--ab-light-green) 75%,
      var(--ab-green) 90%);
  --ab-gradient-secondary:
    linear-gradient(45deg,
      var(--ab-blue) 0%,
      var(--ab-light-blue) 50%,
      var(--ab-light-green) 75%,
      var(--ab-green) 90%);
  color-scheme: dark;
}

/* light theme */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-color: var(--ab-dark-gray);
  --pico-background-color: var(--ab-light-gray);
  --pico-primary: var(--ab-blue);
  --pico-primary-hover: var(--ab-light-blue);
  --pico-primary-background: var(--ab-blue);
  --pico-primary-hover-background: var(--ab-light-blue);
  --pico-primary-inverse: var(--pico-background-color);
  --pico-underline: var(--ab-blue);
  --pico-primary-underline: var(--ab-blue);
  --pico-secondary: var(--ab-light-green);
  --pico-secondary-hover: var(--ab-green);
  --pico-secondary-background: var(--ab-light-green);
  --pico-secondary-hover-background: var(--ab-green);
  --pico-box-shadow: 0 0 2px 0 var(--pico-primary);
  --ab-theme-gray: var(--ab-light-gray);
  --ab-gradient-primary:
    linear-gradient(0deg,
      var(--ab-blue) 0%,
      var(--ab-dark-blue) 50%,
      var(--ab-dark-green) 75%,
      var(--ab-green) 90%);
  --ab-gradient-secondary:
    linear-gradient(45deg,
      var(--ab-blue) 0%,
      var(--ab-dark-blue) 50%,
      var(--ab-dark-green) 75%,
      var(--ab-green) 90%);
  color-scheme: light;
}

:root {
  background-color: var(--pico-background-color);
}

strong,
em,
i,
b {
  color: var(--pico-color);
}

code {
  color: var(--pico-color);
  background-color: var(--ab-theme-gray);
}

a {
  text-decoration: underline;
  background: var(--ab-gradient-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  font-weight: bold;
}

blockquote {
  border-left: 4px solid var(--pico-primary);
}