/* Modern CSS Reset and Global Styles */

:root {
  --pico-font-family: "Fira Mono", Consolas, monospace;
  --pico-font-family-emoji: "Major Mono Display", Consolas, monospace;
  --pico-font-family-sans-serif: Tomorrow, Roboto, Helvetica, Arial, sans-serif;
  --pico-font-family-monospace: "Fira Mono", Consolas, monospace;
  --pico-border-radius: 0rem;
  --pico-typography-spacing-vertical: 0.6rem;
}

body {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: var(--pico-font-family);
}

@media (min-width: 576px) {
  body {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (min-width: 768px) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1024px) {
  body {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (min-width: 1280px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1536px) {
  body {
    padding-left: 15%;
    padding-right: 15%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--pico-font-family-sans-serif);
}

h1 {
  --pico-font-size: 2.5rem;
  --pico-line-height: 1.5;
  --pico-typography-spacing-top: 3.5rem;
  margin-bottom: 1rem;
}

h2 {
  --pico-font-size: 2rem;
  --pico-line-height: 1.5;
  --pico-typography-spacing-top: 3rem;
  margin-bottom: 1rem;
}

article,
section {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

header {
  margin-bottom: 1rem;
}

[data-theme="light"] .light {
  display: none;
}

[data-theme="dark"] .dark {
  display: none;
}

mark {
  color: var(--pico-secondary);
  background-color: var(--pico-primary);
}

kbd {
  background-color: transparent;
  color: var(--pico-color);
  border: 1px solid var(--pico-primary);
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}