---
import Layout from "@layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import PrimaryComment from "../components/PrimaryComment.astro";
import Section from "../components/Section.astro";

const PORTFOLIO = {
  layout: {
    title: "Portfolio",
    description:
      "Empresas y organizaciones a las que he ayudado a mejorar su código.",
  },
  hero: {
    title: "Portfolio",
    subtitle:
      "Empresas y organizaciones a las que he ayudado a mejorar su código.",
    cta: {
      text: "Enterprise code Quality",
      link: "",
    },
  },
  section: {
    title: "¿Quieres ver cómo puedo ayudarte?",
    subtitle:
      "Soy freelance y trabajo para empresas, departamentos de desarrollo, consultoras o academias del sector IT.",
    cta: {
      text: "Contacta conmigo en LinkedIn",
      link: "https://www.linkedin.com/in/albertobasalo/",
    },
  },
};
---

<Layout layout={PORTFOLIO.layout}>
  <Hero hero={PORTFOLIO.hero} />

  <main class="grid">
    <ul>
      <li>Abanca</li>
      <li>Aldaba</li>
      <li>Altia</li>
      <li>AirBus</li>
      <li>Ancert</li>
      <li>APfutura</li>
      <li>Balidea</li>
      <li>BBVA</li>
      <li>Banco Santander</li>
      <li>Barceló Viajes</li>
    </ul>
    <ul>
      <li>CoreMain</li>
      <li>Cluster Canarias</li>
      <li>Cluster Galicia</li>
      <li>DuaCode</li>
      <li>Evolutio</li>
      <li>Ezentis</li>
      <li>Hotusa</li>
      <li>Imatia</li>
      <li>Imaweb</li>
      <li>Inditex</li>
    </ul>
    <ul>
      <li>Indra</li>
      <li>Inetum</li>
      <li>Qindel</li>
      <li>Quaroni</li>
      <li>LedaMC</li>
      <li>Montrel</li>
      <li>Netex</li>
      <li>Plexus</li>
      <li>Peugeot-Citroën</li>
      <li>Pull&Bear</li>
    </ul>
    <ul>
      <li>Redinet</li>
      <li>Softtek</li>
      <li>TcMan</li>
      <li>Televes</li>
      <li>Ultebra</li>
      <li>Zara</li>
      <li>Zara Home</li>
      <li>¿Tu empresa?</li>
    </ul>
  </main>
  <section class="container">
    <header>
      <h1 class=""><PrimaryComment />Partners</h1>
      <p class="">Academias profesionales con las que colaboro</p>
    </header>
    <main class="grid">
      <ul>
        <li>
          <a href="https://trainingit.es/" target="_blank">Training IT</a>
        </li>
        <li><a href="https://tecnofor.es/" target="_blank">Tecnofor</a></li>
        <li>
          <a href="https://aicode.academy/" target="_blank">AI Code Academy</a>
        </li>
      </ul>
      <ul>
        <li><a href="https://www.m2iformacion.com/" target="_blank">M2I</a></li>
        <li>
          <a href="https://www.formadoresit.online/" target="_blank"
            >Formadores IT</a
          >
        </li>
        <li>
          <a href="https://escuela.it/" target="_blank">Escuela IT</a>
        </li>
      </ul>
    </main>
  </section>

  <section class="container">
    <header>
      <h1 class=""><PrimaryComment />AIDDbot</h1>
      <p class="">Configuración de Agente de IA Open Source</p>
    </header>
    <main>
      Siguiendo la filosofía AI-Driven Development, he desarrollado <kbd
        >AIDDbot</kbd
      >, un conjunto de herramientas (prompts, instrucciones, agentes, etc.)
      para que puedas usar fácilmente toda la potencia de la IA en tu día a día.
    </main>
    <footer>
      <a
        role="button"
        class="outline"
        href="https://aicode.academy/community/opensource/aiddbot/"
        >Descubre AIDDbot</a
      >
    </footer>
  </section>
  <Section section={PORTFOLIO.section} />
</Layout>
