<span>|</span>
<style>
  span {
    color: var(--pico-secondary);
    font-weight: bolder;
    animation: blink 2s step-end infinite;
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
</style>
