---
interface Props {
  text: string;
}
const { text } = Astro.props;
---

<span class="matrix-text logo" data-value={text}>{text}</span>

<style>
  .matrix-text {
    display: inline-block;
    padding: 0 0.2rem;
  }
</style>

<script>
  const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  
    document.querySelectorAll(".matrix-text").forEach((element) => {
    const el = element as HTMLElement;
    const text = el.getAttribute("data-value") || "";
    const speed = 30;
    let interval: NodeJS.Timer | undefined = undefined;
    let iteration = 0;
    
    const performIteration = () => {
      el.innerText = text
        .split("")
        .map((_letter, index) => {
          if (index < iteration) {
            return text[index];
          }
          const randomIndex = Math.floor(Math.random() * 26);
          return letters[randomIndex];
        })
        .join("");
      
      if (iteration >= text.length) {
        if (interval) clearInterval(interval);
        return;
      }
      
      iteration += 1/3;
    };

    // Start animation on page load
    interval = setInterval(performIteration, speed);

    // Restart animation on hover
    /* el.addEventListener("mouseover", () => {
      iteration = 0;
      if (interval) clearInterval(interval);
      interval = setInterval(performIteration, speed);
    }); */
  });
  
</script> 