---
import BlinkCursor from "./BlinkCursor.astro";
---

<aside class="container">
  <header class="colored-headers">
    <h1>Programación Inteligente</h1>
    <p>Disponible ya en versión Video</p>
    <h4>Curso de desarrollo profesional con I.A.</h4>
  </header>
  <main>
    <p>
      Metodología AI-Driven Development para dominar las nuevas primitivas de
      programación con IA:
      <code>specs, skills, prompts, context, agents, MCPs...</code>
    </p>
    <p>
      <cite>
        Más allá del Vibe Coding, crea software mantenible aplicando
        herramientas IA a todo el ciclo de desarrollo.
      </cite>
    </p>
  </main>
  <footer>
    <header>
      <h3>
        <span>Aprovecha las ofertas de lanzamiento.<BlinkCursor /></span>
      </h3>
    </header>
    <section>
      <a
        role="button"
        class="outline"
        href="https://www.udemy.com/course/programacion-inteligente-desarrollo-profesional-con-ia/"
        target="_blank"
        rel="noopener">Edición lite en Udemy</a
      >
    </section>
    <section>
      <a
        role="button"
        class="outline"
        href="https://www.trainingit.es/producto/programacion-inteligente-ia/"
        target="_blank"
        rel="noopener">Edición empresarial en TrainingIT</a
      >
    </section>
  </footer>
</aside>
