---
import BlinkCursor from "./BlinkCursor.astro";
import PrimaryComment from "./PrimaryComment.astro";
---

<aside class="container">
  <header class="colored-headers">
    <h1>Programación Inteligente</h1>
    <h4>Curso de desarrollo profesional con I.A.</h4>
  </header>
  <main>
    <section>
      <p><PrimaryComment /> Disponible tanto en Video como en Directo</p>
      Más allá del Vibe Coding, crea software mantenible aplicando herramientas IA
      (Cursor, Copilot, Claude Code, etc.) a todo el ciclo de desarrollo. Metodología
      AI-Driven Development para dominar las nuevas primitivas de programación con
      IA:
      <strong>specs, skills, prompts, context, agents, MCPs...</strong>
    </section>
  </main>
  <footer>
    <header>
      <h3>
        <span>Aprovecha las ofertas de lanzamiento. </span><BlinkCursor />
      </h3>
    </header>
    <article>
      <a
        role="button"
        class="outline"
        href="https://www.udemy.com/course/spec-driven-development-inteligente/?referralCode=D67B0EB2BD294D29A5B7"
        target="_blank"
        rel="noopener">NOVEDAD: Spec-Driven Development en Udemy</a
      >
    </article>
    <article>
      <a
        role="button"
        class="outline"
        href="https://www.udemy.com/course/programacion-inteligente-desarrollo-profesional-con-ia/?referralCode=C007FD1664EEB37226B8"
        target="_blank"
        rel="noopener">Edición lite en Udemy</a
      >
    </article>
    <article>
      <a
        role="button"
        class="outline"
        href="https://www.trainingit.es/producto/programacion-inteligente-ia/"
        target="_blank"
        rel="noopener">Edición empresarial en TrainingIT</a
      >
    </article>
    <article>
      <cite
        >Y próximamente el curso de IA definitivo: <a
          href="/cursos/ai-native-engineers">AI Native Engineers</a
        ></cite
      >
    </article>
  </footer>
</aside>
