---
type NavItem = {
	href: string;
	text: string;
	external?: boolean;
};
const navItems: NavItem[] = [
	{ href: "/consultoria", text: "Consultoría" },
	{ href: "/formacion", text: "Formación" },
	{ href: "/portfolio", text: "Portfolio" },
];
---

<header>
  <nav>
    <ul>
      <li><strong><a href="/" class="logo">Alberto Basalo</a></strong></li>
    </ul>
    <ul>
      {navItems.map(item => (
        <li>
          <a href={item.href} {...item.external && { target: '_blank', rel: 'noopener' }}>{item.text}</a>
        </li>
      ))}
      <li>
        <span id="theme-toggle" aria-label="Toggle theme">
          <span class="light">🔳</span>
          <span class="dark">🔲</span>
        </span>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    border-bottom: 1px solid var(--pico-primary);
    margin-bottom: 1rem;
  }
</style>

<script>
  const htmlElement = document.documentElement; 
  const getTheme = () => htmlElement.getAttribute("data-theme");
  const setTheme = (theme) => htmlElement.setAttribute("data-theme", theme);
  const saveTheme = (theme) => localStorage.setItem("theme", theme);
  document.getElementById('theme-toggle')?.addEventListener('click', () => {
    const newTheme = getTheme() === "dark" ? "light" : "dark";
    setTheme(newTheme);
    saveTheme(newTheme);
  });
</script>


